.container{
    position: relative;
    max-width: 1440px;
}
#header .carousel{
    position: relative;
    z-index: 1;
}
#header .navbar{
    position: absolute;
    z-index: 2;
    width: 100%;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    margin: 3px 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.0);
    border-radius: 50%;
    border: 2px solid white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 52px 25px 12px 25px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lora', serif;
    border-bottom: 2px solid white;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    width: 35px;
    height: 35px;
    background-color: #e9dcdc;
}
.fa-align-justify{
    display: none;
}
.navbar-brand {
    display: inline-block;
    padding: 10px 10px 0px 0px;
}
.title h1, .title h4{
    position: absolute;
    color: white;
}
.title h1{
    font-size: 100px;
    font-weight: bold;
    top: 303px;
    font-family: 'Lora', serif;
}
.title h4{
    font-size: 44px;
    top: 420px;
    text-align: center;
    font-family: 'Lora', sans-serif;
}
.text-information{
    padding: 55px 0px 59px 0px;
}
.first-photo{
    position: relative;
    width: 100%;
}
.text-block {
    position: absolute;
    right: 14px;
    background-color: white;
    color: #dd000a;
    padding: 10px 20px 3px 107px;
    top: 1px;
    font-family: 'Lora', sans-serif;
    font-weight: bold;
}
.text-block h1{
    top: -2px;
    right: 135px;
    position: absolute;
    font-size: 81px;
    font-weight: bold;
}
.text-block h4{
    font-size: 46px;
    margin-bottom: 0px;
    font-weight: bold;
}
.text-block h6 {
    font-size: 25px;
    margin-bottom: -8px;
    font-weight: bold;
}
h5{
    font-size: 30px;
    color: #dd000a;
    font-weight: bold;
    padding-top: 16px;
    font-family: 'Lora', serif;
}
.text-information p{
    font-size: 16px;
    font-family: 'Lora', sans-serif;
}
.read{
    color: #dd000a;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.text-information a{
    text-decoration: none;
}
.fa-angle-right{
    padding-left: 2px;
}
h2 {
    color: #dd000a;
    font-size: 60px;
    border-bottom: 2px solid #dd000a;
    line-height: 1;
    padding: 0;
    font-weight: bold;
    font-family: 'Lora', sans-serif;
}
h2 span {
    background-color: white;
    padding-right: 10px;
} 
.drinks{
    padding: 50px 0px;
}
.drinks p{
    padding: 12px 0px 25px 0px;
    font-size: 16px;
    font-family: 'Lora', sans-serif;
}
hr{
    margin: 0px;
    border: 2px solid #c6c6c6;
}
#information .second-carousel{
    padding: 48px 80px 115px 80px;
}
#information .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -85px;
}
#information .carousel-indicators li {
    background: transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #dd000a;
}
#information .carousel-indicators .active {
    background-color: #dd000a;
}
#information .right.carousel-control {
    background-image: url("images/right.jpg");
    top: 30px;
    position: absolute;  
}
#information .left.carousel-control {
    background-image: url("images/left.jpg");
    top: 30px;
    position: absolute;   
}
#information .carousel-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 98%;
    top: 32%;
    margin-left: -72px;
}
/* .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: -75px;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: red;
    text-align: center;
    width: 1%;
}
.carousel-control-next, .carousel-control-prev:hover{
    color: red;
}
.carousel-control-prev .fa, .carousel-control-next .fa{
    font-size: 171px;
}
.carousel-control-prev .fa:hover{
    color: red;
} */
.footer{
    background-color: black;
}
.logo-again{
    padding: 50px 0px;
}
.contact ul a{
    color: white;

    text-decoration: none;
}
.contact ul {
    padding: 0px 0px 40px 0px;
    list-style: none;
}
.contact ul li{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.last-contact{
    margin-top: 115px;
}
.last-contact ul {
    text-align: right;
}
.last-contact ul li{
    display: inline;
    text-align: right;
}
.last-contact ul li a {
    color: white;
    font-size: 22px;
    padding: 0px 20px;
    border-right: 1px solid white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.copyright ul{
    color: white;
    font-size: 16px;
    text-align: right;
    list-style: none;
    padding: 25px 0px 40px 0px;
    font-family: 'Open Sans', sans-serif;
}
.made{
    justify-content: right;
}
.made {
    float: right;
}
section {
    padding: 50px 0px;
}
section h3, section ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
section h3{
    padding: 10px 0px;
}
section p, .product li{
    font-size: 16px;
    font-family: 'Lora', serif;
}
section p {
padding: 5px 20px;
}
section h5{
    padding: 30px 0px 5px 20px;
}
.photo-caption h1{
    font-size: 100px;
    font-family: 'Lora', serif;
    font-weight: bold;
    position: absolute;
    width: 100%;
    color: white;
    top: 230px;
}
.right-section {
    background-color: #e3e3e3;
    margin-bottom: 90px;
}
.left-section{
    padding-right: 74px;
}
/* .nav-item.active{
    border-top: 2px solid white;
} */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    border-top: 2px solid white;
    padding: 10px;
    margin-top: 42px;
}
.navbar-light .navbar-nav .nav-link:hover {
        color: white;
}

/* Le Aziende */
.new-information{
    padding-top: 30px;
}
.cantina-name {
    padding-top: 30px;
}
.cantina-name h6{
    color: #df111a;
    font-size: 24px;
    font-family: 'Lora', serif;
    font-weight: bold;
}
address{
    font-size: 16px;
    font-family: 'Lora', serif;
}
.email a, .website a{
    color: #df111a;
    /* font-size: 16px;
    font-family: 'Lora', serif; */
}
.website a{
    font-weight: bold;
    /* font-family: 'Lora', serif; */
}




@media (max-width: 1199px) { 
    .navbar-brand {
        padding-left: 10px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 52px 5px 12px 5px;
    }
    .text-information {
        padding: 55px 12px 4px 12px;
    }
    .title h1{
        font-size: 40px;
        top: 190px;
    }
    .title h4 {
        font-size: 26px;
        top: 245px;
    }
    h2 {
        font-size: 45px;
    }
    #footer{
        padding: 10px;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        padding: 8px;
        margin-top: 46px;
    }
    .photo-caption h1 {
        font-size: 50px;
        top: 165px;
    }
    .cantina-name {
        padding-top: 0px;
    }  
}
@media (max-width: 991px) {
    .navbar-brand {
        width: 60%;;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 2px;
    }
    .navbar-light .navbar-nav .nav-link {
        border-bottom: 2px solid white;
        float: right;
    }
    .nav-item.active{
        margin-top: -50px;
    }
    .photo-caption h1 {
        font-size: 30px;
        top: 105px;
    }
    .left-section {
        padding: 0px 33px;
    }
}
@media (max-width: 767px) { 
    .title h1, .title h4 {
        display: none;
    }
    .new{
        display: flex;
        flex-wrap: nowrap;
    }
    #information .carousel-controls {
        width: 95%;
        top: 27%;
        margin-left: -60px;
    }
    .last-contact {
        margin-top: 0px;
    }
    .made {
        padding-bottom: 20px;
    }
    .logo-again {
        padding: 40px 0px;
        width: 40%;
    }  
    .right-section {
        margin-bottom: 0px;
    } 
}
@media (max-width: 575px) { 
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
        border: none;
    }
    .text-information {
        padding: 5px 12px 4px 12px;
    }
    .one {
        order: 2;
    }
    h5 {
        font-size: 22px;
    }
    h2{
        font-size: 28px;
    }
    #information .carousel-controls {
        width: 87%;
        top: 24%;
        margin-left: -42px;
    }
    .cantina-name {
        padding-top: 20px;
    }
}



