.container{
    position: relative;
    max-width: 1440px;
}
#header .carousel{
    position: relative;
    z-index: 1;
}
#header .navbar{
    position: absolute;
    z-index: 2;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    margin: 3px 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.0);
    border-radius: 50%;
    border: 2px solid white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 52px 25px 12px 25px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lora', serif;
}
.navbar-expand-lg .navbar-nav {
    border-bottom: 2px solid white;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    width: 35px;
    height: 35px;
}
.fa-align-justify{
    display: none;
}
.navbar-brand {
    display: inline-block;
    padding: 10px 10px 0px 0px;
}
.title h1, .title h4{
    position: absolute;
    color: white;
}
.title h1{
    font-size: 100px;
    font-weight: bold;
    top: 39%;
    font-family: 'Lora', serif;
}
.title h4{
    font-size: 44px;
    top: 55%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.text-information{
    padding: 55px 0px 59px 0px;
}
.first-photo{
    position: relative;
    width: 100%;
}
.text-block {
    position: absolute;
    right: 16px;
    background-color: white;
    color: #dd000a;
    padding: 10px 20px 3px 107px;
    top: 1px;
    font-family: 'Lora', sans-serif;
    font-weight: bold;
}
.text-block h1{
    top: -2px;
    right: 135px;
    position: absolute;
    font-size: 81px;
    font-weight: bold;
}
.text-block h4{
    font-size: 46px;
    margin-bottom: 0px;
    font-weight: bold;
}
.text-block h6 {
    font-size: 25px;
    margin-bottom: -8px;
    font-weight: bold;
}
h5{
    font-size: 30px;
    color: #dd000a;
    font-weight: bold;
    padding-top: 16px;
    font-family: 'Lora', serif;
}
.two p{
    padding: 45px 0px 15px 0px;
}
.text-information p, .drinks p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.read{
    color: #dd000a;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.text-information a{
    text-decoration: none;
}
.fa-angle-right{
    padding-left: 2px;
}
h2 {
    color: #dd000a;
    font-size: 60px;
    border-bottom: 2px solid #dd000a;
    line-height: 1;
    padding: 0;
    font-weight: bold;
    font-family: 'Lora', sans-serif;
}
h2 span {
    background-color: white;
    padding-right: 10px;
} 
.drinks{
    padding: 50px 0px;
}
.drinks p{
    padding: 12px 0px 25px 0px;
}
hr{
    margin: 0px;
    border: 1px solid #c6c6c6;
}
.wrapper {
    width: 100%;
    height: auto;
    padding: 50px 0px 40px 0px;
}
.wrapper .item{
    padding: 10px;
}
.wrapper .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    margin: 5px 7px;
    background: white;
    display: block;
    border-radius: 30px;
    border: 2px solid #dd000a;
}
.wrapper .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #dd000a;
}
.wrapper .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font: inherit;
    color: #dd000a;
    font-size: 50px;
}
.wrapper .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: transparent;
}
.wrapper .owl-nav .owl-prev span {
    position: absolute; 
    top: -10%;
    left: -60px;
    font-size: 150px;
}
.wrapper .owl-nav .owl-next span{
    position: absolute; 
    top: -10%;
    right: -60px;
    font-size: 150px;
}
.wrapper .owl-nav .owl-prev span:hover, .wrapper .owl-nav .owl-next span:hover {
    color: #dd000a;
}
.footer{
    background-color: black;
}
.logo-again{
    padding: 50px 0px;
}
.contact ul a{
    color: white;
    text-decoration: none;
}
.contact ul {
    padding: 0px 0px 40px 0px;
    list-style: none;
}
.contact ul li{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.last-contact{
    margin-top: 115px;
}
.last-contact ul {
    text-align: right;
}
.last-contact ul li{
    display: inline;
    text-align: right;
}
.last-contact ul li a {
    color: white;
    font-size: 22px;
    padding: 0px 20px;
    border-right: 1px solid white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.copyright ul{
    color: white;
    font-size: 16px;
    text-align: right;
    list-style: none;
    padding: 25px 0px 40px 0px;
    font-family: 'Open Sans', sans-serif;
}
.made{
    justify-content: right;
}
.made {
    float: right;
}
section {
    padding: 50px 0px;
}
section h3, section ul{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
section h3{
    padding: 10px 0px;
}
section p, .product li{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
section p {
    padding: 5px 20px;
}
address p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}
section h5{
    padding: 30px 0px 5px 20px;
}
.photo-caption h1{
    font-size: 100px;
    font-family: 'Lora', serif;
    font-weight: bold;
    position: absolute;
    width: 100%;
    color: white;
    top: 50%;
}
.right-section {
    background-color: #e3e3e3;
    margin-bottom: 90px;
}
.left-section{
    padding-right: 74px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    border-top: 2px solid white;
    padding: 10px;
    margin-top: 42px;
}
.navbar-light .navbar-nav .nav-link:hover {
        color: white;
}

/* Le Aziende */
.cantina-information {
    padding: 50px 0px 80px 0px;
}
.new-information{
    padding-top: 30px;
}
.cantina-name {
    padding-top: 20px;
}
.cantina-name h6{
    color: #df111a;
    font-size: 24px;
    font-family: 'Lora', serif;
    font-weight: bold;
}
address{
    font-size: 16px;
    font-family: 'Lora', serif;
}
.email a, .website a{
    color: #df111a;
}
.website a{
    font-weight: bold;
}
@media (max-width: 1199px) { 
    .navbar-brand {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 52px 20px 12px 20px;
        border-bottom: none;
    }
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
    .text-information {
        padding: 55px 12px 4px 12px;
    }
    .title h1{
        font-size: 40px;
    }
    .title h4 {
        font-size: 26px;
    }
    h2 {
        font-size: 45px;
    }
    .two p {
        padding: 5px;
    }
    #footer{
        padding: 10px;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        padding: 8px;
        margin-top: 46px;
    }
    .photo-caption h1 {
        font-size: 50px;
    }
    .cantina-name {
        padding-top: 0px;
    }  
    .wrapper .owl-nav .owl-next span {
        top: 10%;
        right: -17px;
        font-size: 80px;
    }
    .wrapper .owl-nav .owl-prev span {
        top: 10%;
        left: -14px;
        font-size: 80px;
    }
}
@media (max-width: 991px) {
    .navbar-brand {
        display: inline-block;
        width: 55%;
        padding: 5px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 2px;
    }
    .navbar-light .navbar-nav .nav-link {
        border-bottom: 2px solid white;
        float: right;
        padding: 5px;
    }
    #header .navbar {
        background-color: #343a40;
    }
    .navbar-light .navbar-nav .nav-link {
        border: none;
        float: left;
    }
    .navbar-expand-lg .navbar-nav {
        border: none;
        padding: 25px;
    }
    .nav-item.active{
        margin-top: -50px;
    }
    .photo-caption h1 {
        font-size: 45px;
    }
    .left-section {
        padding: 0px 33px;
    }
    .wrapper .owl-nav .owl-prev span, .wrapper .owl-nav .owl-next span {
        top: 20%;
    }
}
@media (max-width: 767px) { 
    .title h1, .title h4 {
        display: none;
    }
    .new{
        display: flex;
        flex-wrap: nowrap;
    }
    .photo-caption h1 {
        font-size: 40px;
    }
    .last-contact {
        margin-top: 0px;
    }
    .made {
        padding-bottom: 20px;
    }
    .logo-again {
        padding: 40px 0px;
        width: 40%;
    }  
    .right-section {
        margin-bottom: 0px;
    } 
    .wrapper .owl-nav .owl-prev span, .wrapper .owl-nav .owl-next span {
        top: 14%;
    }
}
@media (max-width: 575px) { 
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
        border: none;
    }
    .text-information {
        padding: 5px 12px 4px 12px;
    }
    .one {
        order: 2;
    }
    h5 {
        font-size: 22px;
    }
    h2{
        font-size: 28px;
    }
    .cantina-name {
        padding-top: 20px;
    }
    .wrapper .owl-nav .owl-prev span, .wrapper .owl-nav .owl-next span {
        top: 23%;
    }
    .wrapper .owl-nav .owl-prev span {
        left: -17px;
    }
    .photo-caption h1 {
        display: none;
    }
}



